{{> userHeader }}
{{!-- {{#each this.baiviet}} --}}
<!-- section -->
<div class="section">
    <!-- container carousel-->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- post -->
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
                <!-- Wrapper for slides -->
                <div class="container-fluid">
                    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {{#each baiVietNoiBat}}
                            <div class="item {{#unless @index}}active{{/unless}}">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4"><img src="/images/{{AnhURL}}" class="img-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <h2>{{TieuDeBaiViet}}</h2>
                                            <p>{{NDTomTat}}...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <!-- End Item -->
                        </div>
                        <!-- End Carousel Inner -->
                        <div class="controls">
                            <ul class="nav">
                                {{#each baiVietNoiBat }}
                                <li data-target="#custom_carousel" data-slide-to="{{@index}}"
                                    class="{{#unless @index}}active{{/unless}}">
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 ">
                                                <img src="/images/{{AnhURL}}" style="width: 100%">
                                            </div>
                                            <div class="col-lg-9 col-md-9 ">
                                                <small>{{TieuDeBaiViet}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
    <!--het 2 o vuong to -->
    <!-- TOP 10 bai viet moi -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 style="color: brown"><i class="fas fa-bars" style="font-size: 19px;
    color: #e08989;"></i>&nbsp;Top 10 bài viết mới nhất</h2>
                    </div>
                </div> <!-- #col-12 -->
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-5.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-3.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="category.html">Web Design</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your
                                    Website Design Mockup Into Code Automatically</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-5.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-3.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="category.html">Web Design</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your
                                    Website Design Mockup Into Code Automatically</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-3.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="category.html">Web Design</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your
                                    Website Design Mockup Into Code Automatically</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="category.html">Web Design</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                    Development Tools</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="category.html">Web Design</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                    Development Tools</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div> <!-- #col-6 -->
                <!-- --------------top 10 xem nhiều nhất------------------- -->
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 style="color: green"><i class="fas fa-bars" style="    font-size: 19px;
    color: #e08989;"></i>&nbsp;Top 10 bài viết xem nhiều nhất</h2>
                    </div>
                </div> <!-- #col-12 -->
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                        </div>
                    </div>
                </div>
                <!---/ Top 10 chuyen muc	nằm bên phải	 -->
            </div> <!-- #col-8 -->
            <div class="col-md-4">
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h3 style="color: #cca3c7;"><i class="fas fa-play"
                                style="font-size: 17px; color: black;"></i>Top 10 Chuyên Mục</h3>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                        </div>
                    </div>
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-1.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
                                    JavaScript-Based CPU Side-Channel Attacks</a></h3>
                        </div>
                    </div>
                </div>
                <div class="post post-thumb">
                    <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-3" href="category.html">Jquery</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                JQuery?</a></h3>
                    </div>
                </div>
                <div class="post post-thumb">
                    <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-3" href="category.html">Jquery</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                JQuery?</a></h3>
                    </div>
                </div>
            </div> <!-- #aside-widget -->
            <!-- /postwidged -->
        </div> <!-- #row -->
    </div> <!-- #container -->
</div>
<!-- -----xem danh sach bai viet -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 style="color: red"><i class="fas fa-angle-double-right"
                                    style="font-size: 23px;    color: gainsboro;"></i>Xem danh sách bài viết
                            </h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-4.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">JavaScript</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects
                                        Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam...</p>
                            </div>
                        </div>
                    </div> <!-- #col-12 -->
                    <!-- /post -->
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-6.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">JavaScript</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest
                                        Kid On The Backend Development Block!</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam...</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-1.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href="category.html">Css</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam...</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="blog-post.html"><img src="/static/user/img/post-2.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-3" href="category.html">Jquery</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still
                                        Use JQuery?</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam...</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <div class="col-md-12">
                        <div class="section-row">
                            <button class="primary-button center-block">Load More</button>
                        </div>
                    </div>
                </div> <!-- #rows -->
            </div> <!-- #col-8 -->

            <div class="col-md-4">
                <!-- catagory -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2><i class="fas fa-bars" style="    font-size: 16px;
    color: #714d4d7a;"></i>&nbsp;Catagories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <li><a href="#" class="cat-1">Web Design<span>340</span></a></li>
                            <li><a href="#" class="cat-2">JavaScript<span>74</span></a></li>
                            <li><a href="#" class="cat-4">JQuery<span>41</span></a></li>
                            <li><a href="#" class="cat-3">CSS<span>35</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                <!-- tags -->
                <div class="aside-widget">
                    <div class="tags-widget">
                        <ul>
                            <li><a href="#">Chrome</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Backend</a></li>
                            <li><a href="#">JQuery</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Website</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /tags -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{{!-- {{/each}} --}}
{{> userFooter}}