{{> userHeader }}
{{!-- {{#each this.baiviet}} --}}
<!-- section -->
<div class="section">
    <!-- container carousel-->
    <div class="container">
        <!-- row -->
        <div class="row banner">
            <!-- post -->
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
                <!-- Wrapper for slides -->
                <div class="container-fluid">
                    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {{#each baiVietNoiBat}}
                            <div class="item {{#unless @index}}active{{/unless}}">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a href="/baiviet/{{IDBaiViet}}">
                                            <div class="col-md-4 col-sm-4"><img src="/images/{{AnhURL}}"
                                                    class="img-fluid">
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <a class="badge badge-danger" href="{{IDDanhMuc}}">{{TenDanhMuc}}</a>
                                                <span class="post-date">{{getDate NgayDang}}</span>
                                                <a href="/baiviet/{{IDBaiViet}}">
                                                    <h2>{{TieuDeBaiViet}}</h2>
                                                </a>
                                                <p>{{NDTomTat}}...</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <!-- End Item -->
                        </div>
                        <!-- End Carousel Inner -->
                        <div class="controls">
                            <ul class="nav">
                                {{#each baiVietNoiBat }}
                                <li data-target="#custom_carousel" data-slide-to="{{@index}}"
                                    class="{{#unless @index}}active{{/unless}}">
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <img src="/images/{{AnhURL}}" style="width: 100%">
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <small>{{TieuDeBaiViet}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
    <!--het 2 o vuong to -->
    <!-- TOP 10 bai viet moi -->
    <div class="container bv">
        <div class="row">
            <div class="col-md-8 top10bvmn">
                <div class="col-sm-12 col-xs-12 top">
                    <h3 style="color:#e08989"><i class="fas fa-bars" style="font-size: 19px;"></i>
                        Top 10 Bài Viết Xem Nhiều Nhất
                    </h3>
                </div>
                {{#each lay10baixemnhieu}}
                <div class="col-md-4 col-sm-4 col-xs-6 d-flex pb-3">
                    <div class="card">
                        <a href="/baiviet/{{IDBaiViet}}">
                            <img class="img-fluid img-responsive" src="/images/{{AnhURL}}" alt="">
                            <div class="card-img-overlay"> <span
                                    class="badge badge-pill badge-danger">{{TenDanhMuc}}</span>
                            </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h4 class=" title-small"> {{TieuDeBaiViet}}</h4>
                                </div>
                            </div>
                        </a>
                        <p class="card-text"><small class="text-time"><em>{{getDate NgayDang}}</em></small></p>
                    </div>
                </div>
                {{/each}}
                <!--        top 10 xem nhiều nhất       --->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12 top">
                        <h3 style="color:green"><i class="fas fa-bars" style="font-size: 19px;"></i>
                            Top 10 Bài Viết Mới Nhất
                        </h3>
                    </div>
                </div> <!-- #col-12 -->
                {{#each lay10baimoinhat}}
                <div class="col-md-4 col-sm-4 col-xs-6 d-flex pb-3">
                    <div class="card">
                        <a href="/baiviet/{{IDBaiViet}}">
                            <img class="img-fluid img-responsive" src="/images/{{AnhURL}}" alt="">
                            <div class="card-img-overlay"> <span
                                    class="badge badge-pill badge-danger">{{TenDanhMuc}}</span>
                            </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h4 class=" title-small"> {{TieuDeBaiViet}}</h4>
                                </div>
                            </div>
                        </a>
                        <p class="card-text"><small class="text-time"><em>{{getDate NgayDang}}</em></small></p>
                    </div>
                </div>
                {{/each}}
                <!---/ Top 10 chuyen muc	nằm bên phải	 -->
            </div> <!-- #col-8 -->
            <div class="col-md-4">
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="topcm">
                        <h3 style="color:#cca3c7"><i class="fas fa-play" style="font-size: 17px; color: black;"></i>
                            Top 10 Chuyên Mục
                        </h3>
                    </div>
                    {{#each top10chuyenmuc}}
                    <div class="tab-pane active" role="tabpanel">
                        <a href="/baiviet/{{IDBaiViet}}">
                            <div class="media">
                                <img class="d-flex mr-3" src="/images/{{AnhURL}}" alt="{{TieuDeBaiViet}}">
                                <div class="media-body">
                                    <div>
                                        <span class="badge badge-pill badge-danger">{{TenDanhMuc}}</span>
                                        <div class="news-title">
                                            <h4 class=" title-small"> {{TieuDeBaiViet}}</h4>
                                        </div>
                                    </div>
                                    <div class="news-auther"><small
                                            class="text-time"><em>{{getDate NgayDang}}</em></small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                    <div class="section-title">
                        <h2><i class="fas fa-bars" style="font-size: 16px;color: #714d4d7a;"></i>&nbsp;Chuyên Mục</h2>
                    </div>
                    <div class="category-widget">
                        {{#each laymenu1}}
                        <ul>
                            <li><a href="/danhsach/{{IDChuyenMuc}}"class="cat-1">{{TenChuyenMuc}}<span>{{sl1}}</span></a></li>                            </li>
                        </ul>
                        {{/each}}
                    </div>
                    <div class="tags-widget">
                        {{#each tagtrangchu}}
                        <ul>
                            <li><a href="/baiviet/{{IDBaiViet}}">{{TenTag}}</a></li>
                             {{!-- <li><a href="#">CSS</a></li> --}}
                            {{!--<li><a href="#">Tutorial</a></li>
                            <li><a href="#">Backend</a></li>
                            <li><a href="#">JQuery</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Website</a></li> --}}
                        </ul>
                        {{/each}}
                    </div>
                </div> <!-- #aside-widget -->
                <!-- /postwidged -->
            </div> <!-- #row -->
        </div> <!-- #container -->
    </div>
    {{!-- {{/each}} --}}
    {{> userFooter}}