{{> userHeader }}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    {{#if noData}}
                    <div class="alert alert-danger" role="alert">
                        Bài viết không có. <a href="/" class="alert-link">Click vào đây để về trang chủ</a>.
                    </div>
                    {{else}}
                    {{#each search}}
                    <div class="post post-widget">
                        <div class="post-img">
                            <a  href="/baiviet/{{IDBaiViet}}"><img src="/images/{{AnhURL}}"
                                    alt="{{TieuDeBaiViet}}"></a>
                        </div>
                        <div class="post-body">
                            <span class="badge badge-pill badge-danger">{{TenDanhMuc}}</span>
                            <h4 class="post-title"><a href="/baiviet/{{IDBaiViet}}">{{TieuDeBaiViet}}</a></h4>
                            <p>{{NDTomTat}}...</p>
                        </div>
                        <div class="text-right">
                            <span class="post-date">{{getDate NgayDang}}</span>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                    <div class="post-shares sticky-shares">
                        <a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>             
            </div>
            <!-- /Post content -->
            <!-- aside -->
         {{!-- <div class="col-md-4">
                <div class="aside-widget">
                </div>
                <!-- /post widget -->
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2><i class="fas fa-bars" style="font-size: 16px;color: #714d4d7a;"></i>&nbsp;Chuyên Mục</h2>
                    </div>
                    <div class="category-widget">
                        {{#each laymenu1}}
                        <ul>
                            <li><a href="/danhsach/{{IDChuyenMuc}}"class="cat-1">{{TenChuyenMuc}}<span>{{sl1}}</span></a>
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
                <!-- /catagories -->
                <!-- tags -->
                <div class="aside-widget">
                    <div class="tags-widget">
                        {{#each tagindex }}
                        <ul>
                            <li><a href="/tag/{{IDTag}}">{{TenTag}}</a></li>
                         
                        </ul>
                        {{/each}}
                    </div>
                </div>
                <!-- /tags -->
            </div>
            <!-- /aside -->  --}}
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div> 
<!-- /section -->


{{> userFooter }}