{{> adminHeader }}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Tag</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Chỉnh sửa</div>

            <form action="/quanlynguoidung/update" method="POST">
                <div class="card shadow">
                    <div class="card-body">
                        {{#if this.error}}
                        <div class="alert alert-danger" role="alert">
                            Invalid categoryId. <a href="/quanlybaiviet" class="alert-link">Back to List</a>.
                        </div>
                        {{else}}
                        {{#each chitiet}}
                        <div class="form-group">
                            <label for="txtID">#</label>
                            <input readonly type="text" class="form-control" id="txtID" name="ID" value="{{IDBaiViet}}">
                        </div>
                        <div class="form-group">
                            <h6 for="txtTieuDe">Tiêu đề bài viết</h6>
                            <input type="text" class="form-control" id="txtTieuDe" name="TieuDe"
                                value="{{TieuDeBaiViet}}">
                        </div>
                        <div class="form-group">
                            <h6 for="txtTieuDe">Nội dung bài viết</h6>
                            <textarea class="input container-fluid" name="message" rows="10"
                                placeholder="Message">{{NoiDung}}</textarea>
                        </div>
                        <div class="form-group">
                            <h6 for="txtNgay">Ngày Đăng</h6>
                            <input type="text" class="form-control" id="txtNgay" name="Ngay"
                                value="{{getDate NgayDang}}">
                        </div>
                        <div class="form-group">
                            <h6 for="txtDM">Thuộc danh mục</h6>
                            <input type="text" class="form-control" id="txtDM" name="danhmuc"
                                value="{{TenDanhMuc}}">
                        </div>
                        
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-outline-primary" href="/quanlynhan" role="button" title="Back">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            List
                        </a>
                        {{#unless this.error}}
                        <button type="submit" class="btn btn-danger" formaction="/quanglynhan/delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Delete
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                        {{/unless}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    {{> adminFooter}}a